:root {
  --primary: white;
  --secondary: #f99f17;
  --drop-shadow: black;
  --background: #1A1208;
  --text: #111827;
  --text-2 : #6b7280;
  --special: #F0C878;

  
}

#root {
  height: 100vh;
}

body {
  margin: 0;
}

main {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  background-color: var(--background);
  padding: 1rem;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: var(--special);

  .headerLeftContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
    h1 {
      color: var(--special);
      filter: drop-shadow(0px 2px 1px var(--drop-shadow));
      text-align: left;
      font-weight: bolder;
    }

  }
}

.homeSectionGridContainer {
  min-height: 0;
  width: 100%;
}

footer {
  background-color: var(--background);
  padding: 1rem;
  text-align: center;
  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: var(--special);
  
  p {
    color: var(--special);
    font-size: 0.9rem;
    text-align: left;
  }
}
