:root {
  --primary: white;
  --secondary: #f99f17;
  --drop-shadow: black;
  --background: #f9fafb;
  --text: #111827;
  --text-2 : #6b7280;
  --special: #f99f17;

  
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--drop-shadow);
  padding: 1rem;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: var(--drop-shadow);

  .headerLeftContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
    h1 {
      color: var(--special);
      filter: drop-shadow(0px 2px 1px var(--drop-shadow));
      text-align: left;
      font-weight: bolder;
    }

  }
}

.homeSectionGridContainer {
  height: 90vh; 
  width: 100%;
}

footer {
  background-color: var(--drop-shadow);
  padding: 1rem;
  height: 100%;
  text-align: center;
  border-top-style: solid;
  margin-top: auto;
  border-top-width: 2px;
  border-top-color: var(--drop-shadow);
  
  p {
    color: var(--special);
    font-size: 0.9rem;
    text-align: left;
  }
}